<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400331633898-mpt7opn8vcck03ho2s1osmnc79ter5qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400331633898-mpt7opn8vcck03ho2s1osmnc79ter5qd</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Az12gGGt7oQ42l9txPQaz-mCJAW2Krk</string>
	<key>GCM_SENDER_ID</key>
	<string>400331633898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tommiller.FirestoreHypixel</string>
	<key>PROJECT_ID</key>
	<string>hypixel-ea6be</string>
	<key>STORAGE_BUCKET</key>
	<string>hypixel-ea6be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400331633898:ios:19b06c988423684cded393</string>
</dict>
</plist>